.navbar__bg{
    background: #232f41 !important ;
    width: 100vw;
    z-index: 5;

    position: fixed !important;
    top: 0;
}

.nav__black{
    transition-timing-function: ease-in;
    transition: all 0.5s;
  
        background-color: #354762 !important;
   
}

  .custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255) !important;
   
    background-color: rgb(238, 228, 228) !important;
  } 
.navbar__link:hover{
    color: #47517c !important;
}
.navText__color{
    color: white !important;
}

.navbar__link,.navbar__link:hover{
    text-decoration: none !important;
}

